@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Poppins:wght@300;400&display=swap');
body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins','Lato',sans-serif;
  margin: 0 30px;
  background: #f1f1f1;
}
h1,h2,h3,h4{
  font-weight: 500;
  color: #8e2ad6;
}
.App{
  font-size: 1.2rem;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}
a{
  text-decoration: none;
  color: #8e2ad6;
  /* padding-bottom: 10px; */
  border-bottom: 1px dotted;
}
.site-header h1{
  font-size: 1.5rem;
  color: #8e2ad6;
  padding-bottom: 10px;
  border-bottom: 2px solid ;
}
/* review list */
.review-card {
  background: white;
  margin: 60px auto;
  padding: 1px 20px 20px 90px;
  position: relative;
}
.review-card .rating {
  position: absolute;
  top: -20px;
  left: -20px;
  background: #8e2ad6;
  font-size: 3em;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
}
.review-card h2 {
  margin-bottom: 0;
}
.review-card small {
  margin-right: 10px;
  color: #777;
}